* {
    box-sizing: border-box;
  }
  body {
    background-color: #eeeeee;
  }
  button {
    border: 0;
    padding-left: 70px;
    padding-right: 70px;
  }
  .vector {
    display: none;
  }
  .modo-selecionado .vector {
    display: initial;
  }
  .pedidos::-webkit-scrollbar {
    display:none
  }
  .topo {
    height: 92px;
    width: 414px;
    padding-left: 21px;
    padding-top: 8px;
    background-color: #cf2b2b;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: sticky;
  }
  .logo {
    height: 44px;
    width: 248px;
    left: 21px;
    top: 8px;
    border-radius: nullpx;
    background-color: #cf2b2b;
    margin-bottom: 5px;
  }
  .logo-texto {
    font-family: Righteous;
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    line-height: 55px;
    letter-spacing: -0.012em;
    text-align: left;
    color: #ffffff;
  }
  .slogan {
    height: 17px;
    width: 226px;
    left: 21px;
    top: 57px;
    border-radius: nullpx;
    background-color: #cf2b2b;
    margin-top: 5px;
  }
  .slogan-texto {
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;
  }
  .conteudo {
    background-color: #eeeeee;
    width: 414px;
    padding-left: 19px;
  }
  
  .chamada-pedido {
    height: 25px;
    width: 250px;
    left: 19px;
    margin-top: 6px;
    margin-bottom: 11px;
    border-radius: nullpx;
    background-color: #eeeeee;
  }
  .escolha {
    font-family: Righteous;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.018em;
    text-align: left;
    color: #333333;
    width: max-content;
  }
  
  .pedidos {
    padding-bottom:5px;
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
  }
  .nome-produto {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #333333;
    margin-bottom: 4px;
  }
  
  .descricao-produto1 {
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #a6a6a6;
    margin-bottom: 5px;
  }
  
  .descricao-produto {
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #a6a6a6;
    margin-bottom: 9px;
  }
  
  .preco-produto {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
  }
  .parte-inferior-pedido {
    display: flex;
    justify-content: space-between;
  }
  .primeiro-pedido {
    height: 216px;
    width: 172px;
    left: 19px;
    top: 165px;
    border-radius: 9px;
    background-color: #ffffff;
    padding-top: 18px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 16px;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
  }
  
  .segundo-pedido {
    height: 202px;
    width: 172px;
    left: 19px;
    top: 450px;
    border-radius: 9px;
    padding-top: 18px;
    padding-left: 15px;
    padding-right: 13px;
    margin-right: 16px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
  }
  .terceiro-pedido {
    height: 197px;
    width: 172px;
    left: 19px;
    top: 721px;
    border-radius: 9px;
    padding-top: 19px;
    padding-left: 13px;
    padding-right: 15px;
    background-color: #ffffff;
    margin-right: 16px;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    margin-bottom: 16px;
  }
  .frango {
    height: 87px;
    width: 144px;
    left: 33px;
    top: 183px;
    border-radius: 4px;
    margin-bottom: 8px;
  }
  .coquinha {
    height: 87px;
    width: 144px;
    left: 34px;
    top: 468px;
    border-radius: 4px;
    margin-bottom: 8px;
  }
  .pudim {
    height: 82px;
    width: 144px;
    left: 34px;
    top: 740px;
    border-radius: 4px;
    margin-bottom: 7px;
  }
  .selecione-3 {
    height: 92px;
    width: 414px;
    left: 0px;
    top: 934px;
    border-radius: 0px;
    background-color: #ffffff;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 15px;
    padding-bottom: 16px;
    position: sticky;
  }
  .borda-pedido {
    height: 61px;
    width: 364px;
    left: 25px;
    top: 949px;
    border-radius: 50px;
    background-color: #cbcbcb;
  }
  .pedidofeito {
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 23px;
    letter-spacing: 0.018em;
    text-align: center;
    color: #ffffff;
  }
  .escondido {
    display: none;
  }
  
  .fechar-pedido {
    height: 61px;
    width: 364px;
    left: 25px;
    top: 949px;
    border-radius: 50px;
    background-color: #32b72f;
  }
  .pedido-verde {
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0.018em;
    text-align: center;
    color: #ffffff;
  }
  
  .modo-selecionado {
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25),
      inset 0px 0px 0px 5px #32b72f;
    border-radius: 9px;
  }
  